@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

:root {
  --background-color: #f0bce0;
  --box-color-trans: rgb(243, 156, 167, 0.95);
  --box-color: rgb(243, 156, 167);
  --black: rgb(32, 32, 32);
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin: auto;
    max-width: 900px;
    color: var(--black);
    background-color: var(--background-color);
    /* background-color: #d8a7c9; */
    /* background-color: rgba(243, 156, 168, 0.596); */
    /* background-color: #E28D99; */
    text-align: center;
}

/* HEADER  */
#title {
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
}

#subtitle {
  font-size: 22px;
  margin-top: 0;
}

#logo {
  width: 30px;
  margin: 10px;
  transform: rotate(-15deg);
}

/* CONTENT  */
main {
    background-image: url("img/ice-cream.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.recipe-box {
  margin: 50px;
}

figcaption {
  font-size: 30px;
}

.recipe-img {
  width: 80px;
}

#ice-cream-img {
  width: 100px;
  padding-top: 30px;
}

/* FLIP ICE CREAM */
#ice-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; 
}
/* This container is needed to position the front and back side */
#ice-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  font-size: 20px;
}
/* Do an horizontal ice when you move the mouse over the ice box container */
#ice-box:hover #ice-box-inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
#ice-box-front, #ice-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: var(--box-color-trans);
}
/* Style the front side (fallback if image is missing) */
/* #ice-box-front {
}
 */
/* Style the back side */
#ice-box-back {
  background-color: var(--box-color);
  transform: rotateY(180deg);
}




/* FLIP BROWNIE */
#brownie-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; 
}

#brownie-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  font-size: 20px;
}

#brownie-box:hover #brownie-box-inner {
  transform: rotateY(180deg);
}

#brownie-box-front, #brownie-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: var(--box-color-trans);
}

#brownie-box-back {
  background-color: var(--box-color);
  transform: rotateY(180deg);
}




/* FLIP CONE */
#cone-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; 
}

#cone-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  font-size: 20px;
}

#cone-box:hover #cone-box-inner {
  transform: rotateY(180deg);
}

#cone-box-front, #cone-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: var(--box-color-trans);
}

#cone-box-back {
  background-color: rgb(243, 156, 167);
  transform: rotateY(180deg);
}